<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>

<div class="container">
    <div class="jumbotron">

    <h1> {{ name }} PAGE</h1>
    </div>
    <div class="container">
        <h2> {{ info }} </h2>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.as_p }}

            <div class="container">
            <input type="submit" value="Submit"/>
            </div>

        </form>
    </div>
    <p></p>
</div>

</body>
</html>


