<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>

<div class="container">
    <div class="jumbotron">

        <h1>{{ header_1 }}</h1>
        <h2>{{ param_1 }} </h2>

    </div>
    <div class="container">

        <p>{{ info }} </p>
        <ul>

            {% for e in elements.all %}
            <li><a href="{% url 'timetable:detail' e.id %}">{{ e.group_name }} </a></li>
            {% endfor %}
        </ul>
    </div>

    <p><a href="{% url 'timetable:t_page' %}"> Back </a></p>
    <p><a href="{% url 'timetable:logout' %}"> Logout </a></p>


    <p></p>
    <p></p>
    <p></p>
</div>

</body>
</html>
